.customization {
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: initial;
  padding: 0;
  margin: 0;
  transform: translateZ(0);
}

.customization > span {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: white;
  padding: 0.2rem 0;
  font-weight: 600;
  font-size: 0.8rem;
}

.background {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -20px;
  left: 0;
}